.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #24a2ae;
    color: white;
    // border: 1px solid black;
  }

  // &.isCheckOut {
  //   background-color: #ffeeec;
  //   color: black;
  // }

  &.google-sign-in {
    background-color: #ffeeec;
    color: #ff7c6e;

    &:hover {
      background-color: #ff7c6e;
      color: #ffeeec;
      border: none;
    }
  }
  &.inverted {
    background-color: #ffeeec;
    color: #ffa49a;
    // border: 1px solid black;

    &:hover {
      background-color: #ff7c6e;
      color: white;
      border: none;
    }
  }
}
