.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 39px;
    height: 39px;
  }

  .item-count {
    position: absolute;
    font-size: 19px;
    font-weight: 500;
    bottom: 6px;
  }
}
